<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login Splash Page</title>
</head>
<body class="body">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Checklistopia!</h1>
        <p class="lead">A magical place where your list organization dreams come true....</p>
    <div class="container">
    <div class="registration">
        {% for message in messages %} 
        <p style="background-color: rgb(146, 0, 0);color: rgb(153, 153, 0);font-weight: 800;">{{message}}</p>
        {% endfor %}
        <h1 class="label">Registration</h1>
        <form action="/users/register" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label class="label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="first_name" placeholder="First name">
            </div>
            </div>
            <div class="form-group row">
                <label class="label">Last Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
                </div>
            </div>
            <div class="form-group row">
                <label class="label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label class="label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" name="password">
                </div>
            </div>
            <div class="form-group row">
                <label class="label">Confirm Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" name="confirm">
                </div>
            </div>
            <div class="sign-in">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-warning">Register</button>
            </div>
            </div>
        </form>
        </div>
        <div class="login">
            {% for message in messages %} 
            <p style="background-color: rgb(146, 0, 0);color: rgb(153, 153, 0);font-weight: 800;">{{message}}</p>
            {% endfor %}
            <h1 class="label">Login</h1>
            <form action="/users/login" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="label">Email</label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label">Password</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <div class="sign-in">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-warning">Sign in</button>
                </div>
                </div>
            </form>
            </div>
    </div>
</body>
</html>